[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bluesky = "*"
ophyd = "*"
pyepics="*"
flask-restful="*"
dataclasses-json = "*"
zocalo = "*"
ispyb = "*"

[dev-packages]
pytest-cov = "*"
ipython = "*"
black = "*"
mockito="*"
pre-commit = ">2.9.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
tests = "pytest -m \"not s03\" --cov=src/artemis --cov-report term --cov-report xml:cov.xml"
