[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bluesky = "*"
ophyd = "*"
pyepics="*"
flask-restful="*"
dataclasses-json = "*"
zocalo = "*"
ispyb = "*"

[dev-packages]
pytest = "*"
ipython = "*"
black = "*"
mockito="*"
pre-commit = ">2.9.0"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
