[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bluesky = "*"
#Ophyd version required for tests to pass, pin to proper version when >1.6.4 released
ophyd = {git = "https://github.com/bluesky/ophyd.git", ref = "0895f9f00bdf7454712aa954ea7c7f3f1776fcb9", editable = true} 
pyepics="*"
flask-restful="*"
dataclasses-json = "*"
zocalo = "*"
ispyb = "*"
nexgen = {git = "https://github.com/DominicOram/nexgen.git", editable = true}

[dev-packages]
pytest-cov = "*"
ipython = "*"
black = "*"
mockito="*"
pre-commit = ">2.9.0"
flake8 = "*"
mypy = "*"
matplotlib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
tests = "pytest -m \"not s03\" --cov=src/artemis --cov-report term --cov-report xml:cov.xml"
